*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia,serif, Arial Narrow,sans-serif,;
}
button{
    cursor: pointer;
    background: #ffffff00;
    border: 2px;
}
body{
    background-image: url(img/fundo\ jogo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

header{
    width: 100vw;
    height: 5vh;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(4, 111, 204, 1) 50%, rgba(2, 0, 36, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center ;
    box-shadow: 0 0 1px 2px #000;
    font-family: Georgia,serif;
    font-size: 24px;
    padding: 10px;
}

.containerimagem{
    margin-top: 470px;
    width: 400px;
    height: 350px;
    background-image: url(img/exemplo\ jogo.jpeg);
    border-radius: 20px;
    box-shadow: 0 0 1px 3px #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
}

.containerPergunta{
    position: absolute;
    margin-top: 950px;
    background-color: #00000000;
    border-radius: 6px;
    border: 2px solid #31210060;
    box-shadow: 0 0 1px 2px #664400ba;
    padding: 25px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containercartas{
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.headercartas{
 background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(4, 111, 204, 1) 50%, rgba(2, 0, 36, 1) 100%);
    width: 320px;
    height: 30px;
    padding: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1130px;
}

.imagemCarta{

}

.cartas{
    background-image: url(img/moldura\ carta.png);
    position: absolute;
    margin-top: 1400px;
    width: 570px;
    height: 400px;
    background-position: center center;
    border-radius: 20px;
    background-size: 800px 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}